@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

:root {
  font-family: 'Kite One', sans-serif, Arial, Helvetica, sans-serif;
  background-color: #1F242C;
  color: white;
}
