@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

:root {
  font-family: "Kite One", sans-serif, Arial, Helvetica, sans-serif;
  background-color: #1f242c;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
}

header {
  position: absolute;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
